/* RoomBottom.css */

.room-bottom-container {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-bottom-container.joy {
  background-color: yellow;
}

.room-bottom-container.sadness {
  background-color: blue;
}

.room-bottom-container.anger {
  background-color: red;
}

.room-bottom-container.disgust {
  background-color: green;
}

.room-bottom-container.embrassment {
  background-color: pink;
}

.room-bottom-container.fear {
  background-color: purple;
}

.room-bottom-container.ennui {
  background-color: rgb(73, 12, 154);
}

.bottom-button {
  margin: 10px;
}

.bottom-image {
  width: 100px;
  height: 100px;
}
