div {
    display: block;
    unicode-bidi: isolate;
}

.g-terms-checkbox {
    border-top: 1px solid #f1f4f6;
    color: #111; 
}

.g-terms-checkbox>.checkall-first {
    padding-top: 20px;
}

.g-terms-checkbox>.checkall {
    margin-bottom: 8px;
}

.g-terms-checkbox * {
    box-sizing: border-box;
}

.g-terms-checkbox>.error-tip {
    font-size: 12px;
    line-height: 1.25;
    color: #cb1400;
    display: none;
}

.g-terms-checkbox>.terms{
    margin-top: 16px;
    padding: 18px 16px;
    border: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.c-checkbox-item {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.g-terms-checkbox .message {
    font-size: 12px;
    line-height: 1.4;
    color: #555;
    margin-top: 6px;
    margin-left: 26px;
    display: block;
}

.c-checkbox-item .wrapper {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    width: 100%;
}

.c-checkbox-item .wrapper input {
    display: none;
}

input[type='checkbox']{
    box-sizing: border-box;
    padding: 0;
}

input {
    vertical-align: middle;
    line-height: normal;
    color: inherit;
    font: inherit;
    margin: 0;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    border: initial;
}

.g-terms-checkbox>.checkall .c-checkbox-item label {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    color: #111111;
}

.c-checkbox-item .wrapper label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 auto;
    margin-right: 25px;
}

label {
    cursor: pointer;
}

.c-checkbox-item .wrapper .icon-chk {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.g-terms-checkbox .icon {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
}

.c-checkbox-item .icon {
    vertical-align: bottom;
}

i {
    font-style: italic;
}

.c-checkbox-item .wrapper label span {
    display: block;
    line-height: 1.4;
    word-break: break-word;
}


